[Desktop Entry]
Actions=zerve
ServiceTypes=KonqPopupMenu/Plugin
MimeType=all/allfiles
Type=Service
X-KDE-Priority=TopLevel

[Desktop Action zerve]
Exec=zerve %f
Name=Upload to zerve host
